/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */








html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   /*
   rgb(141,55,0)
   rgb(59, 183, 71)
   rgb(239,205,110)
   rgb(243,174,34)
   rgb(135,26,5)
   rgb(239,3,42)
   rgb(43,178,88)
   rgb(255,218,98)
   rgb(240,106,42)
   rgb(0,0,0)
<<<<<<< HEAD
   */

  body{
    background-color: whitesmoke;
    color: rgb(40, 40, 40);

    background-image: url("..exquisite-corpse/img/taco-skull.png");

    margin: 10px;
  }


=======
   rgb(255,255,240)
   rgb(79,200,200)
   rgba(130,250,250, 0.9)
  font-family: 'Bungee', cursive;
  font-family: 'Bungee Shade', cursive;
  font-family: 'Roboto', sans-serif;
   */

html{
  /*height: 100%*/
}


  body{
    background-color: rgb(255,255,240);

    /*background-color: whitesmoke;*/
    color: rgb(20, 20, 20);
    background-image: url("..exquisite-corpse/img/taco-skull.png");
    font-family: 'Roboto', sans-serif;
    margin: 10px;
    margin-left: 8%;
    margin-right: 8%;

    background:  rgb(255,255,240);
    background: linear-gradient(top,  rgb(255,255,240) 2%,rgb(243,174,34) 80%);
    background: -webkit-linear-gradient(top,  rgb(255,255,240) 2%,rgb(243,174,34) 80%);
    background: -moz-linear-gradient(top,  rgb(255,255,240) 2%,rgb(243,174,34) 80%);
    background: -ms-linear-gradient(top,  rgb(255,255,240) 2%,rgb(243,174,34) 80%);
    background: -o-linear-gradient(top,  rgb(255,255,240) 2%,rgb(243,174,34) 80%);
  }

header{
  position: relative;
  text-align: center;
  padding-top:125px;
  height: 600px;


}

.button{
    color:rgba(130,250,250, 1);
    width:150px;
    margin: 0px auto 0px auto;
    /*background-image: url(img/taco.png);*/
}


h1{
  font-family: 'Bungee Shade', cursive;
}
h2{
  font-family: 'Bungee', cursive;
}

.intro{
  color: rgb(243,174,34);
  text-align: center;
}

.intro{
  color: rgb(243,174,34);
  text-align: center;
  font-family: 'Bungee', cursive;
}
.story{
    padding-bottom: 100px;
}
article{
margin: 10px auto 10px auto;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  width: 60%;
  background-color:rgba(130,250,250, 0.9);
  border-radius: 15px;
  color: black;
}


.button{
color: rgba(0, 0, 0, 0.0);
}

.button:hover{
  opacity: 0.5;
}

.arrow{
  z-index: -10;
}


i{
  position: relative;
  bottom: 80px;
  z-index: 20;
  /*color: rgba(0, 0, 0, 0.0);*/
  /*width: 120px;*/
}
i:hover{
  color: rgba(130,250,250,1);
  /*opacity: 0.9;*/
  z-index: 20;
  ;
}












/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
